.required:after {
    content:" *";
    color: red;
}

.wholeForm {
    margin-top: 2em;
}

div.mb-3.form-group.row {
    margin-bottom: 1.8em!important;
}

.btn {
    float: right;
    margin-right: 2em;
}