.required:after {
    content:" *";
    color: red;
}

.wholeForm {
    margin-top: 2em;
}

.wholeForm div{
    margin-bottom: 1.8em;
}

.btn {
    float: right;
    margin-right: 2em;
}

<<<<<<< Updated upstream
div.select__control {
    height: 38px
}
span.select__indicator-separator {
    height: 22px
}
svg.css-6q0nyr-Svg {
    margin-bottom: 20px;
}
div.select__placeholder {
    position: static;
}
=======
#endDateLabel {
    padding-right: 0;
    left: 5em
}
>>>>>>> Stashed changes
